*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;height:100%;
    background-color: rgba(179, 179, 179, 0.726);
    position: relative;
    
font-family: 'Courgette', cursive;
}
.main{
    width: 350px;
    max-height: 600px;
    background-color: white;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 0 50px;  
}
.main-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px auto;
}
.login-google{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    background-color: #4c6ef4f8;
    padding: 10px;
    border-radius: 10px;  
}
.login-google a{
text-decoration: none;
    color: black;
}
.login-google .fa {
   font-size: 30px;
    padding: 18px;
    background-color: white;
    border-radius: 5px;
}
.login-google .text-login-google{
    padding: 25px;
}
.line{
    color: #999;
    text-align: center;
    position:relative;  
    margin-top: 20px;
}
.line:after{
    content: "";
    width: 90%;
    height: 1px;
    background-color: #999;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.line-text{
    display: inline-block;
    position: relative;
    padding: 20px;
    background-color: white;
    z-index: 2;
}
.sign-label{
    font-size:17px;
   
}
.input-sign{    
    margin-top: 5px;
    display:block;
    padding:25px;
    width:100%;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color:rgba(190, 187, 187, 0.24) ;
    outline:none;
    border:0;
}
.sigup-submit{
     width:90%;
}
.sigup-submit p{
    text-align: center;
    background-color: #81C91D;
    padding:20px;
    border-radius: 10px;
    color:white;
    font-size: 20px;
    font-weight:400; margin-top:20px;
}
.signup-already {
    margin: 20px;
    text-align: center;
}
.signup-already a {
        text-decoration: none;
        color:rgba(0, 89, 255, 0.829)
}